Checks: >
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-infinite-loop,
  bugprone-macro-parentheses,
  bugprone-multiple-statement-macro,
  bugprone-suspicious-memset-usage,
  bugprone-use-after-move,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  -performance-enum-size,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[\\/](Engine|Sandbox)[\\/].*'
ExcludeHeaderFilterRegex: '.*[\\/](build|vcpkg_installed)[\\/].*'
FormatStyle: file
SystemHeaders: false
